# Summary: Study of basics of Python data types, data structure

In [289]:
# common magic functions between int and float classes
dir_int=dir(int)
dir_float=dir(float)
print(list(set(dir_int) & set(dir_float)))

['__radd__', '__eq__', '__mul__', '__rsub__', '__rmul__', '__ne__', '__bool__', '__pos__', '__pow__', '__float__', '__round__', '__gt__', '__rdivmod__', '__le__', '__ge__', '__str__', '__trunc__', 'real', '__reduce_ex__', '__subclasshook__', 'conjugate', '__setattr__', '__init__', '__rfloordiv__', '__new__', '__add__', '__getnewargs__', '__neg__', '__rtruediv__', '__mod__', '__rpow__', '__truediv__', '__dir__', '__delattr__', '__format__', '__init_subclass__', '__hash__', '__divmod__', '__repr__', '__rmod__', '__class__', 'imag', '__getattribute__', '__abs__', '__lt__', '__sizeof__', '__int__', '__doc__', '__reduce__', '__sub__', '__floordiv__']

# integer,float,string

## int constructor methods

### Building with python magic functions and operator magic function of "int" class

The purpose of this implementation is to view the combination of usage of
data type and operator magic functions: example: implementation of this built-in function using python magic functions:abs((x+y)**n *(-m)-s)

### Building with python built-in function of "int" class

In [366]:
a=2
b=4
n=2
m=2
s=3
# python built-in function implementation
result=abs((a+b)**n *(-m)-s)
result

75

### Building with python magic functions and operator magic function of "int" class

In [367]:
# python magic function implementation
int.__add__(a,b).__pow__(2).__mul__(-m).__sub__(3).__abs__()

75

In [368]:
# added "==" operator magic function
int.__add__(a,b).__pow__(2).__mul__(-2).__sub__(4).__abs__().__eq__(35)

False

In [369]:
# applied "<=" operator magic function
int.__add__(a,b).__pow__(2).__mul__(-2).__sub__(4).__abs__().__le__(35)

False

In [370]:
# applied ">=" operator magic function
int.__add__(a,b).__pow__(2).__mul__(-2).__sub__(4).__abs__().__ge__(35)

True

In [371]:
# bitlength
n = 16
print("Binary Representation of given number:",bin(n))
#n.bit_length()
r=n.bit_length()
print("bit length is:",r)

Binary Representation of given number: 0b10000
bit length is: 5

## float constructor methods

### building with python built-in function

In [372]:
x=3.5
y=4.3
n=2
m=2.0
s=3.0

In [373]:
result=abs((x+y)**n *(-m)-s)
result

124.67999999999999

### Building with python magic functions and operator magic function of "float" class

In [374]:
float.__add__(x,y).__pow__(2).__mul__(-2.0).__sub__(3.0).__abs__()

124.67999999999999

In [375]:
float.__add__(x,y).__pow__(2).__mul__(-2.0).__sub__(3.0).__abs__().__floordiv__(2)

62.0

In [376]:
float.__add__(x,y).__pow__(2).__mul__(-2.0).__sub__(3.0).__abs__().__round__()

125

In [377]:
float.__add__(x,y).__pow__(2).__mul__(-2.0).__sub__(3.0).__abs__().__mod__(2)

0.6799999999999926

In [378]:
float.__add__(x,y).__pow__(2).__mul__(-2.0).__sub__(3.0).__abs__().__truediv__(4)

31.169999999999998

## string constructor methods

### Building with python magic functions and operator magic function of "string" class

In [379]:
p=str.__add__("Hello","World")
p

'HelloWorld'

In [380]:
# string concatanation
p1=str.__add__("Hello","")
p2=" World"
p3=str.__add__(p1,p2)

In [381]:
#islower()
p=str.__add__(p1,p2).islower()
p

False

In [382]:
# upper()
str.__add__(p1,p2).upper()

'HELLO WORLD'

In [383]:
# length of string: len
str.__add__(p1,p2).__len__()

11

In [384]:
# endswith space?
str.__add__(p1,p2).endswith("")

True

In [385]:
# endswith d in the word world?
str.__add__(p1,p2).endswith("d")

True

In [386]:
# endswith world ward with "."?
str.__add__(p1,p2).endswith(".")

False

In [387]:
# split
str.__add__(p1,p2).split()

['Hello', 'World']

In [388]:
list1=str.__add__(p1,p2).split()
list1

['Hello', 'World']

In [389]:
# join
print("".join(list1))

HelloWorld

In [390]:
#contain
list1.__contains__("Hello")

True

In [391]:
list1.__contains__("H")

False

# list,tuple,dictionary,set

## List

In [271]:
x = []
# same as list()
# x=list()

x.append(10)
y = x.append(20)

print(x)
#print(y)

[10, 20]

In [272]:
# index of value 20
x.index(20)

1

In [273]:
# reverse the list element
print("before reverse:",x)
x.reverse()
print("after reverse:",x)

before reverse: [10, 20]
after reverse: [20, 10]

In [274]:
# delete item giving index value
print("before deletion:",x)
x.__delitem__(1)
print("after deletion:",x)

before deletion: [20, 10]
after deletion: [20]

In [276]:
# creation of two lists
l1=[100,200]
l2=[300,400]

In [277]:
# concateniting lists
L=l1.__add__(l2)
L

[100, 200, 300, 400]

In [261]:
idx=[]
for index,value in enumerate(L):
    idx.append(index)
idx

[0, 1, 2, 3]

In [249]:
index=1
L.__delitem__(index)
L

[100, 300, 400]

## Tuple

t=tuple()
t.append(1)
TypeError: can only concatenate tuple (not "int") to tuple
You can't add elements to a tuple because of their immutable property. There's no append() or extend() method for tuples

In [310]:
# first tuple
t1=(1,2,4,)
type(t1)
print("t1 is tuple:",t1)

t1 is tuple: (1, 2, 4)

In [311]:
# second tuple
t2=(7,8)
t2

(7, 8)

In [312]:
# concatenation t1 and t2
t3=t1.__add__(t2)
t3

(1, 2, 4, 7, 8)

In [313]:
#length of tuple
tl=t3.__len__()
tl

5

In [314]:
# access of element using index
item=t1.__getitem__(1)
item

2

## Dictionery

In [322]:
d1=dict()
#same as d1={}
d1["name"]="helal"
d1["Address"]="Espoo"
d1

{'name': 'helal', 'Address': 'Espoo'}

In [323]:
print("keys:",d1.keys())
print("values:",d1.values())

keys: dict_keys(['name', 'Address'])
values: dict_values(['helal', 'Espoo'])

In [324]:
d2=d1.copy()
print("Original:",d1)
print("Copy version:",d2)
# for future operation
d3=d2.copy()

Original: {'name': 'helal', 'Address': 'Espoo'}
Copy version: {'name': 'helal', 'Address': 'Espoo'}

In [325]:
# get value of given key
d1.__getitem__("name")

'helal'

In [326]:
d1.__contains__("Address")
d1

{'name': 'helal', 'Address': 'Espoo'}

In [327]:
print("before pop operation:",d2)
d2.pop("name")
print("after pop operation:",d2)

before pop operation: {'name': 'helal', 'Address': 'Espoo'}
after pop operation: {'Address': 'Espoo'}

In [338]:
d3

{'name': 'helal', 'Address': 'Oulu'}

In [339]:
# delete the last item of the dictionery
d3.popitem()
d3

{'name': 'helal'}

In [340]:
# copy
d2=d1.copy()
d2

{'name': 'helal'}

In [341]:
# checking equal
d1.__eq__(d2)

True

In [342]:
# checking equal
d1.__eq__(d3)

True

In [343]:
# checking equal
d1.__eq__(d2)

True

In [346]:
# adding item in d2
d2["Age"]=45
d2

{'name': 'helal', 'Age': 45}

In [347]:
print("length of d2:",d1.__len__())
print("length of d2:",d2.__len__())

length of d2: 1
length of d2: 2

In [354]:
d1=dict()
#same as d1={}
d1["name"]="helal"
d1["Address"]="Espoo"
d5=d1.copy()


print("before update:",d5)
d4 = {'Address': 'Oulu'}
d5.update(d4)
print("after update:",d5)

before update: {'name': 'helal', 'Address': 'Espoo'}
after update: {'name': 'helal', 'Address': 'Oulu'}

## Set

In [355]:
# adding value to the set
s1=set()
s1.add(2)
s1

{2}

In [356]:
# intersection opration
s1={1,2,3}
s2={6,6,1}
s1.__and__(s2)

{1}

In [357]:
# xor operation:common and duplication element elemenation
s1={1,2,3}
s2={6,6,1}
s1.__xor__(s2)

{2, 3, 6}

In [358]:
r=s1.__sub__(s2)
r

{2, 3}

In [359]:
s1.__eq__(s2)

False

# Learn different ways to format the string

In [360]:
print("I love","python")

I love python

In [2]:
print("I love" + "python")

I lovepython

In [3]:
print("I love"+" python" +  " version",3.10)

I love python version 3.1

In [31]:
print("I love"+" python" +  " version %.2f"%3.10 )

I love python version 3.10

In [6]:
print("I love %s version %.2f"%("python",3.10))

I love python version 3.10

##  Using Format positional argument

In [33]:
print("I love {} version {}".format("python",3.10))

I love python version 3.1

In [34]:
print("I love {} version {}".format("python","3.10"))

I love python version 3.10

In [39]:
print("I love {} version {:.2f}".format("python",3.10))

I love python version 3.10

In [41]:
print("I love {1} version of {0}".format("python","3.10"))

I love 3.10 version of python

## Using format keyword argument

In [42]:
print("I love {pl} version {version:.2f}".format(pl="python",version=3.10))

I love python version 3.10

## Using f-string literal

In [53]:
info={"pl":"python","version":3.10}
print(f"I love {info.get('pl') }")

I love python

In [59]:
print(f"I love {info.get('pl')} version{info.get('version')}")

I love python version3.1

In [61]:
print(f"I love {info.get('pl')} version {info.get('version'):.2f}")

I love python version 3.10

## Can be done with uppercase f literal and single quote but double quote while accessing dictionary value

In [62]:
print(F"I love {info.get('pl')} version {info.get('version'):.2f}")

I love python version 3.10

## f-string conditional

In [7]:
batch="F5"

In [8]:
print(f'I love {"javascript" if batch=="F5" else "python"}')

I love javascript

In [9]:
batch="F"

In [10]:
print(f'I love {"javascript" if batch=="F5" else "python"}')

I love python

# Familiarize yourself with indexing in python

## Create a list of items

In [120]:
countries= ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print(countries)

['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

## Find the index of “Sweden”

In [121]:
print("Original:",countries)
print("Index of Sweden:",countries.index("Sweden"))

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Index of Sweden: 1

## Get all the items except the first

In [122]:
countries= ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print("Original:",countries)
print("Modified:",countries[1:len(countries)])

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: ['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']

## Get all the items except the last

In [123]:
print("Original:",countries)
print("Modified",countries[1:len(countries)-1])

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified ['Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway']

## Find the last item using negative indexing

In [124]:
#Find the last item using negative indexing
print("Original:",countries)
print("Modified:",countries[-1])

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: Iceland

## Find the last three item using negative indexing

In [125]:
print("Original:",countries)
print("Modified:",countries[-3:])

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: ['Germany', 'Norway', 'Iceland']

## Grab all the items with odd indices

In [126]:
print("Original:",countries)
result = [countries[idx] for idx, ele in enumerate(countries) if idx % 2 != 0]
print("Modified:",result )

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: ['Sweden', 'Netherlands', 'Norway']

## Find the first and last item for the list

In [127]:
print("Original:",countries)
result = [countries[0], countries[-1]]
print("Modified:",result )

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: ['Finland', 'Iceland']

## Get [”Netherlands”,”Germany”,”Norway”] using negative indexing

In [128]:
#Get ["Netherlands","Germany","Norway"] using negative indexing
print("Original:",countries)
result = [countries[-4:-1]]
print("Modified:",result )

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
Modified: [['Netherlands', 'Germany', 'Norway']]

## Reverse the list

In [129]:
print("Original:",countries)
countries.reverse()
print("modified",countries)

Original: ['Finland', 'Sweden', 'Denmark', 'Netherlands', 'Germany', 'Norway', 'Iceland']
modified ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']

## What is the output of countries[::-2]

In [130]:


#countries= ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print("Original:",countries)
r=countries[::-2]
print("modified",r)

Original: ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
modified ['Finland', 'Denmark', 'Germany', 'Iceland']

## What is the output of countries[1:100:2]

In [131]:
#countries= ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
print("Original:",countries)
r=countries[1:100:2]
print("modified",r)

Original: ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
modified ['Norway', 'Netherlands', 'Sweden']

## What is the output of countries[len(countries)-1:0:2]?

In [132]:
print("Original:",countries)
l=len(countries)
print("Length",l)
r=countries[l-1:0:2]
print("modified",r)

Original: ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
Length 7
modified []

## Get the output ['Germany', 'Netherlands', 'Denmark']

In [133]:

print("Original:",countries)
r=countries[2:5]

print("modified:",r)

Original: ['Iceland', 'Norway', 'Germany', 'Netherlands', 'Denmark', 'Sweden', 'Finland']
modified: ['Germany', 'Netherlands', 'Denmark']

## Use enumerate method to get index and values in the list

In [134]:
countries= ["Finland","Sweden","Denmark","Netherlands","Germany","Norway","Iceland"]
for index, choice in enumerate(countries):
    print(index, choice)

0 Finland
1 Sweden
2 Denmark
3 Netherlands
4 Germany
5 Norway
6 Iceland

In [136]:
#problem 11
#countries[::-2]

# Exercise on dictionaries

## Given the two lists of same length, create a dictionary using a list as keys and      another list as values without using loop

In [14]:
# a list of keys
k1=[1,2,3,4]
# a list of values
v1=["a","b","c","d"]
# use zip to create key-value pair
z=zip(k1,v1)
# create dictionary
d1=dict(z)
# the created dictionery name is dictionery
print("dictionery1:",d1)

dictionery1: {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

## Create two dictionaries, merge them into one.

In [15]:

# Dictionary1
Dictionary1 = {'A': 'Finland', 'B': 'Sweden', }
Dictionary2 = {'C': 'Norway','D': 'Germany'}

# Dictionary before Merge
print("Original Dictionary:")
print(Dictionary1)

# Dictionery after merge
Dictionary1.update(Dictionary2)
print("Dictionary after updation:")
print(Dictionary1)

Original Dictionary:
{'A': 'Finland', 'B': 'Sweden'}
Dictionary after updation:
{'A': 'Finland', 'B': 'Sweden', 'C': 'Norway', 'D': 'Germany'}

## Given the list of students, assign them the course.

In [16]:
#Keys
Students=["Duy", "Laxmi","Antonio","Maria"]
#values
Course=["python","Datbas","ML"]

In [17]:
new_dict = {}
for org_key in Students:
    new_dict[org_key] =Course

print("Create dictinary with multiple keys:",new_dict)

Create dictinary with multiple keys: {'Duy': ['python', 'Datbas', 'ML'], 'Laxmi': ['python', 'Datbas', 'ML'], 'Antonio': ['python', 'Datbas', 'ML'], 'Maria': ['python', 'Datbas', 'ML']}

## Modify Antonio’s course to ["JavaScript","Database","NodeJS"]

In [18]:
new_dict['Antonio']=["JavaScript","Database","NodeJS"]

In [19]:
new_dict

{'Duy': ['python', 'Datbas', 'ML'],
 'Laxmi': ['python', 'Datbas', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS'],
 'Maria': ['python', 'Datbas', 'ML']}

## Add “ReactJs” to Anonio’s course

In [20]:
new_dict['Antonio'].append("ReactJs")

In [21]:
new_dict

{'Duy': ['python', 'Datbas', 'ML'],
 'Laxmi': ['python', 'Datbas', 'ML'],
 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'ReactJs'],
 'Maria': ['python', 'Datbas', 'ML']}

## Replace Antonio’s “ReactJs” to “Vuejs”

In [28]:
new_dict['Antonio'][3]="Vuejs"
print(new_dict)

{'Duy': ['python', 'Datbas', 'ML'], 'Laxmi': ['python', 'Datbas', 'ML'], 'Antonio': ['JavaScript', 'Database', 'NodeJS', 'Vuejs'], 'Maria': ['python', 'Datbas', 'ML']}

## Remove an item from dictionary

In [114]:
# removing Antonio item from new_dict
del new_dict['Antonio']  
new_dict

{'Duy': ['python', 'Datbas', 'ML', 'Vuejs'],
 'Laxmi': ['python', 'Datbas', 'ML', 'Vuejs'],
 'Maria': ['python', 'Datbas', 'ML', 'Vuejs']}